/* Color palette: https://coolors.co/09940a-16bac5-f8efd8-2D3739-f08700
off white   color: #F8EFD8;
black       color: #2D3739;
yellow      color: #FFBE0A;
orange      color: #F08700;
green       color: #09940A;
light green color: #0CD40C;
blue        color: #16BAC5;
light blue  color: #7EE9F1;
cool gray   color: #A5A5CA;
dark blue   color: #154866;
sky blue    color: #2A90CB;
*/

.colortest {
    color: #F8EFD8;
    color: #2D3739;
    color: #FFBE0A;
    color: #F08700;
    color: #09940A;
    color: #0CD40C;
    color: #16BAC5;
    color: #7EE9F1;
    color: #A5A5CA;
    color: #154866;
    color: #2A90CB;
}

html {
    box-sizing: border-box;
    background: #ADADFF;
    color: #2D3739;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  body {
    margin: 0;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

.site-wrap {
    max-width: 90%;
    margin: 70px auto;
    background: #EBEBFF;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
  }
  
  body.fixed-nav .site-wrap {
    transform: scale(1);
  }

header {
    background-color: #7070FF;
    border-bottom: 3px solid #2A90CB;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header > h1 > a {
    color: #7EE9F1;
    text-decoration: none;
}

header > h1 {
    font-size: 6vw;
    text-shadow: 3px 4px 0 rgba(240, 135, 0, 0.4);
}

nav {
    background: #154866;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.logo {
    max-width: 0;
    overflow: hidden;
    background: #7EE9F1;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}

li.logo a {
    color: #154866;
}

.fixed-nav li.logo {
    max-width: 500px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #7EE9F1;
    display: block;
    transition: all 0.5s;
    padding: 1em 0;
    font-weight: 300;
}

