.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

thead, tbody{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerRow {
    background-color: #7070FF;
    color: #F8EFD8;
}

th {
    background-color: #7070FF;
    color: #F8EFD8;
    padding: 18px 28px;
    border: 1px solid #ddd;
    
}

td {
    padding: 8px;
    font-size: 1em;
}

th, td {
    text-align: left;
}

tr {
    display: flex;
    justify-content: space-between;

}