.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

table {
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.headerRow {
    background-color: #09940A;
    color: #F8EFD8;
}

th {
    background-color: #09940A;
    color: #F8EFD8;
    text-align: left;
    padding: 18px 28px;
    border: 1px solid #ddd;
    flex-grow: 1; /* distrubute the space evenly */
}

td {
    text-align: left;
    padding: 8px;
    font-size: 1em;
}